<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
<connectionStrings>
  <add name = "MySQLConnectionString" connectionString="Server = localhost; Database = maindata;Uid = root;Pwd = Hellboy_1407;Connect Timeout = 30"/>
</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>